<header id="page-header">
<div id="masthead">
  <nav>
  <p>
    <% if current_user %>
      <%= link_to current_user.name, current_user %>
    <% else %>
      <%= link_to 'Sign Up', signup_path, class: 'button' %>
      <%= link_to 'Sign In', signin_path, class: 'button' %>
    <% end %>
  </p>
  </nav>
  <h1><%= link_to 'Events', root_path %></h1>
</div>
</header>
