<header id="page-header">
  <div id="masthead">
    <nav>
      <p>
        <%= link_to 'Sign Up', signup_path, class: 'button' %>
      </p>
    </nav>
    <h1><%= link_to 'Events', root_path %></h1>
  </div>
</header>
